<div class="modal bg-body fade" id="infoModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content shadow-none">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Kişi Detayı</h5>
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
            <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/keenthemes/metronic/docs/core/html/src/media/icons/duotune/arrows/arr088.svg-->
            <span class="svg-icon svg-icon-muted svg-icon-2hx">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
                    <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"></rect>
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <div class="modal-body" id="infoModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>