{% load i18n %}

{% if why_use %}
<div class="separator my-10"></div>
<!--begin::container-->
<div class="container-fluid bg-light py-10">
    <!--begin::title-->
    <div class="text-center mb-17">
        <!--begin::Title-->
        <h3 class="fs-2hx text-gray-700 mb-5" id="how-it-works" data-kt-scroll-offset="{default: 100, lg: 150}">{% trans 'Neden Kullanmalıyız?' %}</h3>
        <!--end::Title-->
    </div>
    <!--end::title-->
    <!--begin::items-->
    <div class="container">
        <!--begin::container-->
        <div class="row d-flex justify-content-center">
            {% for item in why_use %}
                <!--begin::col-->
                <div class="col-md-4 col-xs-12 my-3">
                <!--begin::card-->
                    <div class="card card-flush border border-success border-dashed flex-row-fluid p-6 pb-5 mw-100">
                        <!--begin::Body-->
                        <div class="card-body text-center">
                            <!--begin::img-->
                            <img src="{{ item.icon.url }}" class="rounded-3 mb-4 w-125px h-125px w-xxl-150px h-xxl-150px" alt="">
                            <!--end::img-->

                            <!--begin::Info-->
                            <div class="mb-2">
                                <!--begin::Title-->
                                <div class="text-center">
                                    <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">{{ item.title }}</span>
                                    <span class="text-gray-500 fw-semibold d-block fs-6 mt-2">{{ item.description }}</span>
                                </div>
                                <!--end::Title-->
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::card-->
                </div>
                <!--end:::col-->
            {% endfor %}
        </div>
        <!--end::container-->
    </div>
    <!--end::items-->
</div>
<!--begin::container-->
{% endif %}