<div class="card card-xl-stretch mb-xl-8">
    <!--begin::Body-->
    <div class="card-body d-flex align-items-center pt-0 pb-0">
        <div class="d-flex flex-column flex-grow-1 py-2 py-lg-8 me-2">
            <a href="#" class="fw-bolder text-gray-700 fs-4 mb-2 text-hover-primary">Fatih Dışı Kullanıcı</a>
            <span class="fs-7 text-gray-600">NVİ Fatih dışı kayıtlı kişiler</span>
            <span class="text-gray-900 fw-bold fs-1 mb-2 mt-5" id="totalFatihOut"></span>
        </div>
        <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/keenthemes/metronic/docs/core/html/src/media/icons/duotune/communication/com014.svg-->
        <span class="svg-icon svg-icon-dark svg-icon-7tx align-self-end h-100px theme-light-show">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M13.625 22H9.625V3C9.625 2.4 10.025 2 10.625 2H12.625C13.225 2 13.625 2.4 13.625 3V22Z" fill="currentColor"></path>
                <path d="M19.625 10H12.625V4H19.625L21.025 6.09998C21.325 6.59998 21.325 7.30005 21.025 7.80005L19.625 10Z" fill="currentColor"></path>
                <path d="M3.62499 16H10.625V10H3.62499L2.225 12.1001C1.925 12.6001 1.925 13.3 2.225 13.8L3.62499 16Z" fill="currentColor"></path>
            </svg>
        </span>
        <!--end::Svg Icon-->
        <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/keenthemes/metronic/docs/core/html/src/media/icons/duotune/communication/com014.svg-->
        <span class="svg-icon svg-icon-fluid svg-icon-7tx align-self-end h-100px theme-dark-show">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M13.625 22H9.625V3C9.625 2.4 10.025 2 10.625 2H12.625C13.225 2 13.625 2.4 13.625 3V22Z" fill="currentColor"></path>
                <path d="M19.625 10H12.625V4H19.625L21.025 6.09998C21.325 6.59998 21.325 7.30005 21.025 7.80005L19.625 10Z" fill="currentColor"></path>
                <path d="M3.62499 16H10.625V10H3.62499L2.225 12.1001C1.925 12.6001 1.925 13.3 2.225 13.8L3.62499 16Z" fill="currentColor"></path>
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Body-->
</div>